<div class="profile text-center">
<h1> Hello <%= current_user.name %>!</h1>
<p>Location: <%= current_user.location %></p>
<p>Occupation: <%= current_user.occupation %></p>
<p>Bio: <%= current_user.bio %></p>
<ul class="list-inline"><p>Skills:</p>
  <% current_user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>
</div>
