<h1>Hi, <%= current_user.first_name %>!</h1>
<ul class="list-unstyled side-bar-links">
  <li><%= link_to 'Calendar', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Team Chat History', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Support', "https://yakitty-yak.slack.com/apps/A89TQNPMK-yakittyyak?page=1", target: "_blank" class: "dash-links" %></li>
  <li><%= link_to 'Invite Buddies', dashboard_path, class: "dash-links" %></li>
</ul>

