<h1>Hi, <%= current_user.first_name %>!</h1>
<ul class="list-unstyled side-bar-links">
  <li><%= link_to 'Dashoard', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Network Activity', team_feed_path, class: "dash-links" %></li></li>
  <li><%= link_to 'My Yak History', feed_path, class: "dash-links" %></li>
  <li><%= link_to 'Support', root_path(anchor: "how-it-works"), class: "dash-links" %></li>
  <li><%= link_to 'Invite Buddies', dashboard_path, class: "dash-links" %></li>
</ul>

