<h1>Hi, <%= current_user.first_name %>!</h1>
<ul class="list-unstyled side-bar-links">
  <li><%= link_to 'Calendar', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Team Chat History', feed_path, class: "dash-links" %></li>
  <li><%= link_to 'Support', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Invite Buddies', dashboard_path, class: "dash-links" %></li>
</ul>

