<h1>Hi, <%= current_user.first_name %>!</h1>
<ul class="list-unstyled side-bar-links">
  <li><%= link_to 'Yak-Board', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Yak-History', feed_path, class: "dash-links" %></li>
  <li><%= link_to 'Network Yaks', team_feed_path, class: "dash-links" %></li></li>
  <li><%= link_to 'Yak-Support', dashboard_path, class: "dash-links" %></li>
  <li><%= link_to 'Invite Yak-Buddies', dashboard_path, class: "dash-links" %></li>
</ul>

