<%= render 'shared/navbar' %>
<div class="dash-wrapper">
  <div class="dash-container">
    <div class="row">
      <div class="side-bar col-md-3 col-xs-12">
        <h3>Hi, <%= current_user.name %>!</h3>
        <ul class="list-unstyled side-bar-links">
          <li><%= link_to 'Calendar', dashboard_path, class: "dash-links" %></li>
          <li><%= link_to 'Team Chat History', dashboard_path, class: "dash-links" %></li>
          <li><%= link_to 'Support', dashboard_path, class: "dash-links" %></li>
          <li><%= link_to 'Invite Buddies', dashboard_path, class: "dash-links" %></li>
        </ul>
        <div class="footer text-center">
          <ul class="list-inline">
            <li><svg width="50" height="50" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>slack</title>
              <g id="Canvas" transform="translate(3083 -3877)">
                <g id="slack">
                  <g id="Vector">
                    <use xlink:href="#path0_fill" transform="matrix(-0.318995 -0.947802 0.947798 -0.319005 -3059.87 3905.54)" fill="#FCFCFC"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path1_fill" transform="translate(-3083 3877)" fill="#FCFCFC"/>
                  </g>
                </g>
              </g>
              <defs>
                <path id="path0_fill" d="M 5.68377 2.54061e-06L 0 2.54061e-06L 0 5.80349L 5.68377 5.80349L 5.68377 2.54061e-06Z"/>
                <path id="path1_fill" d="M 25.0005 -2.23082e-07C 11.1936 -2.23082e-07 -3.40813e-06 11.1917 -3.40813e-06 24.999C -3.40813e-06 38.8063 11.1936 50 25.0005 50C 38.8064 50 50 38.8063 50 24.999C 50 11.1917 38.8066 -2.23082e-07 25.0005 -2.23082e-07ZM 37.6897 28.9574L 35.0146 29.8579L 35.9346 32.5915C 36.3786 33.9106 35.6691 35.3398 34.3501 35.7838C 33.031 36.2278 31.6018 35.5183 31.1579 34.1993L 30.2378 31.4655L 24.7375 33.3169L 25.6682 36.0821C 26.1122 37.4012 25.4027 38.8304 24.0837 39.2744C 22.7646 39.7184 21.3354 39.009 20.8914 37.6899L 19.9608 34.9247L 17.4085 35.7837C 16.0894 36.2277 14.6602 35.5182 14.2163 34.1992C 13.7723 32.88 14.4816 31.4508 15.8008 31.0068L 18.353 30.1478L 16.54 24.761L 13.918 25.6435C 12.5989 26.0875 11.1697 25.3781 10.7257 24.0589C 10.2818 22.7398 10.9912 21.3106 12.3102 20.8666L 14.9322 19.9842L 14.0653 17.4083C 13.6213 16.0893 14.3308 14.66 15.6498 14.2161C 16.9689 13.7721 18.3981 14.4815 18.842 15.8006L 19.709 18.3764L 25.2093 16.525L 24.3317 13.9177C 23.8877 12.5986 24.5972 11.1694 25.9162 10.7254C 27.2353 10.2814 28.6645 10.9909 29.1085 12.3099L 29.986 14.9173L 32.5914 14.0404C 33.9105 13.5964 35.3397 14.3058 35.7836 15.6249C 36.2276 16.944 35.5183 18.3732 34.1991 18.8172L 31.5938 19.6941L 33.4068 25.081L 36.0819 24.1806C 37.401 23.7366 38.8302 24.4461 39.2742 25.7651C 39.7181 27.0842 39.0088 28.5134 37.6897 28.9574Z"/>
              </defs>
            </svg></li>
        </ul>
      </div>
    </div>

    <div class="dash-feed col-md-9">
      <div class="meeting-search">
        <p>Don't be shy, search for your new yak buddy now!</p>
        <div class="form-inline" >
          <%= render 'requests/new' %>
        </div>
      </div>
      <div class="feed-header">
        <h2>Your Yaktivity</h2>
      </div>
      <div class="yak-feed">
        <div class="chat-box">
          <% current_user.requests.each do |request| %>
          <div class="chat">
            <div class='chat-users'>
              <%= image_tag current_user.image, class: "avatar user-1" %>
              <%= image_tag request.receiver.image, class: "avatar user-2" %>
            </div>
            <div class='chat-body'>
              <h3><%= current_user.name %> & <%= request.receiver.name %></h3>
              <p><%= request.topic %></p>
            </div>
            <ul class="list-inline chat-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-share"></i></a></li>
              <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
