<div class="dashboard">
  <%= render 'shared/navbar' %>
  <div class="dash-wrapper">
    <div id="side-bar">
      <%= render 'dash_side_bar' %>
    </div>
    <div class="dash-container">
      <div class="meeting-search">
        <p>Don't be shy, search for your new yak buddy now!</p>
        <div class="form-inline" >
          <%= render 'requests/new' %>
        </div>
      </div>
      <div class="dash-feed">
        <h2>Your Yaktivity</h2>
        <div class="yak-feed">
          <% current_user.requests.reverse_each do |request| %>
          <div class="yaktivity">
            <div class='yaktivity-users'>
              <%= image_tag current_user.image, class: "avatar user-1" %>
              <%= image_tag request.receiver.image, class: "avatar user-2" %>
            </div>
            <div class='yaktivity-title'>
              <h3><%= current_user.first_name %> and <%= request.receiver.first_name %></h3>
              <div class="yaktivity-details">
                <p><%= request.topic %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

