<%= render 'shared/navbar' %>
<div class="dashboard">
  <div class="dash-wrapper">
    <div id="side-bar">
      <%= render 'dash_side_bar' %>
    </div>
    <div class="dash-container">
      <div class="meeting-search">
        <p>Don't be shy, search for your new yak buddy now!</p>
        <div class="flexify-form">
          <%= render 'requests/form', request: @request, skills: @skills %>
        </div>
      </div>
      <div class="dash-stats">
        <h2>Your Yakstats</h2>

        <div class="dash-stats-cards">
            <div class="stats-number text-center">
              <h3><%= current_user.meetings.count || "0" %></h3>
              <p>Yakitty-Yak<br>chats</p>
            </div>
            <div class="stats-number text-center">
              <h3><%= current_user.requests_received || "0" %></h3>
              <p>Requests<br>received</p>
            </div>
            <div class="stats-feed">
              <h3>Latest topics in your network</h3>
              <ul>
              <% Meeting.latest_topics.reverse_each do |topic| %>
                <li>✅ <%= topic %></li>
              <% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

