<div id="progress"></div>

<div class="center">
  <div id="register">

    <i id="progressButton" class="ion-android-arrow-forward next"></i>

    <div id="inputContainer">
      <input id="inputField" required autofocus />
      <label id="inputLabel"></label>
      <div id="inputProgress"></div>
    </div>

  </div>
</div>



<div class="form-check form-check-inline">
          <!-- <label class="form-check-label"> -->
            <%= image_tag "rails.png", class: "form-thumbnail"%>
            <%=f.association :skills, class: "form-check-input", type: "checkbox", id:"inlineCheckbox1", value:"option1" %>
            <!-- </label> -->
          </div>
          <div class="form-check form-check-inline">
            <!-- <label class="form-check-label"> -->
             <%= image_tag "java.png", class: "form-thumbnail" %>
             <%=f.association :skills, class: "form-check-input", type: "checkbox", id: "inlineCheckbox2", value: "option2" %>
             <!-- </label> -->
           </div>
           <div class="form-check form-check-inline">
            <!-- <label class="form-check-label"> -->
             <%= image_tag "javascript.png", class: "form-thumbnail" %>
             <%= f.association :skills, class: "form-check-input", type: "checkbox", id: "inlineCheckbox3", value: "option3" %>
             <!-- </label> -->
           </div>
           <div class="form-check form-check-inline">
            <label class="form-check-label">
             <%= image_tag "react.png", class: "form-thumbnail" %>
             <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> React
           </label>
         </div>
         <br>
         <div class="form-check form-check-inline">
          <label class="form-check-label">
           <%= image_tag "sass.png", class: "form-thumbnail" %>
           <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Sass
         </label>
       </div>
       <div class="form-check form-check-inline">
        <label class="form-check-label">
         <%= image_tag "python.png", class: "form-thumbnail" %>
         <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Python
       </label>
     </div>
     <div class="form-check form-check-inline">
      <label class="form-check-label">
        <%= image_tag "html5.png", class: "form-thumbnail" %>
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> HTML5
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
       <%= image_tag "swift.png", class: "form-thumbnail" %>
       <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Swift
     </label>
   </div>
