<div class="home-wrapper">
  <div class="home-banner text-center">
    <%= render 'shared/navbar' %>
    <%= render "shared/home-background" %>
    <div class="inner-content">
      <div class="title">
        <h1> Easy connection & collaboration<br>with your network </h1>
      </div>
      <%= link_to user_slack_omniauth_authorize_path do %>
      <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
      <% end %>
    </div>

    <svg height="140" viewBox="0 0 2369 169" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Exclude</title>
      <desc>Created using Figma</desc>
      <g id="Canvas" transform="translate(8261 -2235)">
        <g id="Exclude">
          <use xlink:href="#path0_fill" transform="translate(-8261 2235.65)" fill="#FCFCFC"/>
        </g>
      </g>
      <defs>
        <path id="path0_fill" d="M 0 0.26001L 0 168.355L 2369 168.355L 2369 0C 2110.79 67.2278 1676.37 111.355 1184 111.355C 692.262 111.355 258.334 67.3416 0 0.26001Z"/>
      </defs>
    </svg>

  </div>
  <div class="product-details">
    <div class="container">
      <h2 class="text-center">Building meaningful connections<br>can be a lot of fun </h2>
      <div class="row">
        <div class="detail-block">
          <div class="detail-content col-md-8">
            <div class="detail-title">
              <h3 style="text-decoration: underline; text-decoration-color: #E22172">Get matched and get talking</h3>
            </div>
            <div class="detail-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis lobortis lacus a interdum. Aenean a ante hendrerit, aliquet massa ac, luctus lorem.</p>
            </div>
          </div>
          <div class="detail-image  col-md-4">
            <%= image_tag "match.png", class: 'pull-right' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail-block">
          <div class="detail-image  col-md-4">
            <%= image_tag "chat.png" %>
          </div>
          <div class="detail-content col-md-8">
            <div class="detail-title text-right">
              <h3>No more awkward introductions.</h3>
              <h3 style="text-decoration: underline; text-decoration-color: #7FD0DF; margin-top: 0px">Yakitty-Yak makes it exciting!</h3>
            </div>
            <div class="detail-description text-right">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis lobortis lacus a interdum. Aenean a ante hendrerit, aliquet massa ac, luctus lorem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
