<div class="home-wrapper">
  <div class="home-banner text-center">
    <%= render 'shared/navbar' %>
    <%= render "shared/home-background" %>
    <div class="inner-content">
      <div class="title">
        <h1> Activate your network <br>with Yakitty-Yak </h1>
      </div>
      <% if current_user %>
      <div class="empty-space"></div>
      <% else %>
      <div class="top-banner-button">
        <%= link_to user_slack_omniauth_authorize_path, class: "banner-button" do %>
        <%= image_tag("slack-button-blue.svg") %><span style="font-weight: 400; padding-left: 8px">Sign in with</span> Slack
        <% end %>
      </div>
      <% end %>
    </div>
    <svg height="140" viewBox="0 0 2369 169" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Canvas" transform="translate(8261 -2235)">
        <g id="Exclude">
          <use xlink:href="#path0_fill" transform="translate(-8261 2235.65)" fill="#FCFCFC"/>
        </g>
      </g>
      <defs>
        <path id="path0_fill" d="M 0 0.26001L 0 168.355L 2369 168.355L 2369 0C 2110.79 67.2278 1676.37 111.355 1184 111.355C 692.262 111.355 258.334 67.3416 0 0.26001Z"/>
      </defs>
    </svg>

  </div>
  <div class="product-details">
    <div class="container">
      <h2 class="text-center" id="how-it-works" style="padding-top: 40px;"> Easy connection & collaboration<br>with your network</h2>
      <div class="row">
        <div class="detail-block">
          <div class="detail-content col-md-8">
            <div class="detail-title">
              <h3 style="text-decoration: underline; text-decoration-color: #E22172">Get matched and get talking</h3>
            </div>
            <div class="detail-description">
              <p>Send a skills or topic based request and quickly get a network match  – collaborate, give back to the community, and brainstorm</p>
            </div>
          </div>
          <div class="detail-image  col-md-4">
            <%= image_tag "match.png", class: 'pull-right' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail-block">
          <div class="detail-image  col-md-4">
            <%= image_tag "chat.png" %>
          </div>
          <div class="detail-content col-md-8">
            <div class="detail-title text-right">
              <h3> Video chat capabilites </h3>
              <h3 style="text-decoration: underline; text-decoration-color: #7FD0DF; margin-top: 0px">Seemlessly integrated with #Slack</h3>
            </div>
            <div class="detail-description text-right">
              <p>Connect with Slack and build meaningful connections without skipping a beat!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="detail-block">
          <div class="detail-content col-md-8">
            <div class="detail-title">
              <h3 style="text-decoration: underline; text-decoration-color: #F38131">Dig deeper into your network</h3>
            </div>
            <div class="detail-description">
              <p>Random matching and conversation starters promote fun connections with people around the globe </p>
            </div>
          </div>
          <div class="detail-image  col-md-4">
            <%= image_tag "links.png", class: 'pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-banner text-center" style="background-image: url('<%= image_path 'bottom-banner.png' %>')">
    <div class="bottom-banner-content">
      <h4>Ready to get started?</h4>
      <div class="bottom-banner-button">
        <%= link_to user_slack_omniauth_authorize_path, class: "success-button" do %>
        <%= image_tag("slack-button.svg") %><span style="font-weight: 400; padding-left: 8px">Sign in with</span> Slack
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
