<div class="dashboard">
  <div class="dash-wrapper">
    <div id="side-bar">
      <%= render 'dash_side_bar' %>
    </div>
    <div class="dash-container">
      <div class="dash-feed">
        <h2>Network Yaktivity</h2>
        <div class="yak-feed">
          <% Meeting.all.reverse_each do |meeting| %>
          <div class="yaktivity">
            <div class='yaktivity-users'>
              <%= image_tag meeting.request.user.image, class: "avatar user-1" %>
              <%= image_tag meeting.request.receiver.image, class: "avatar user-2" %>
            </div>
            <div class='yaktivity-title'>
              <h3><%= meeting.request.user.first_name %> and <%= meeting.request.receiver.first_name %></h3>
              <div class="yaktivity-details">
                <p><%= meeting.request.topic %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
